
footer {
  background-color: #222222;
  background-size: cover;
  padding: 140px 0 0px 0;
  .wrapper {
    max-width: 920px;
    margin: 0 auto;
    padding: 0 10% 104px 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .column {
      width: 33%;
      .city {
        display: flex;
        align-items: center;
        p {
          text-transform: uppercase;
          color: #e3e4e3;
          margin-left: 10px;
        }
        .fa {
          font-size: 25px;
          color: #c22337;
        }
      }
      address {
        color: #5a5a5a;
        line-height: 28px;
        a {
          color: #5a5a5a;
          text-decoration: none;
        }
      }
    }
  }
  .copyrights {
    background-color: #1e1e1e;
    padding: 28px 0;
    color: #606060;
    font-size: 12px;
    .wrapper {
      max-width: 920px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 0;
      div {
        display: flex;
        align-items: center;
        p {
          margin: 0;
        }
        .fa {
          font-size: 24px;
          margin-right: 28px;
        }
      }

    }
  }

}
