
header {
  background: url("../images/Untitled-2.jpg") center center no-repeat;
  background-size: cover;
  padding: 30px 30px 240px 30px;
  .primary {
    max-width: 916px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    transition: background-color 0.6s ease;
    ul {
      margin: 0;
      padding: 10px 30px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      li {
        list-style: none;
        display: inline-block;
        padding: 5px;
        overflow: hidden;
        text-transform: uppercase;
        font-size: 10px;
        a {
          font-weight: 600;
          letter-spacing: 2px;
          transition: all 0.4s ease;
          text-decoration: none;
          color: $darkText;
        }
      }
    }

  }
  .welcomeText {
    text-align: center;
    margin: 0 auto;
    h1 {
      font-size: 54px;
      font-weight: 400;
      text-transform: uppercase;
      margin: 0;
      padding: 160px 0 40px 0;
    }
    h2 {
      font-size: 20px;
      margin: 0 auto;
      padding-top: 46px;
      max-width: 490px;
      line-height: 26px;
      font-weight: 400;
    }
  }
}

.redDash {
  width: 56px;
  height: 2px;
  background-color: $darkRed;
  margin: 0 auto;
}

.fa-bars {
  display: none !important;
  font-size: 28px;
}

.header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 30px;
  background-color: rgba(239, 233, 220, 0.78);
}

.mobileNavigation {
  display: block !important;
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  height: calc(100vh - 106px);
  padding-top: 120px !important;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 1 !important;
  transition: all 1s ease;
  li {
    display: block !important;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 60px;
    a {
      color: $lightText!important;
      font-size: 18px;
      font-weight: 300 !important;
    }
  }
  li:last-of-type {
    margin-bottom: 0;
    position: absolute;
    bottom: 100px;
    left: 30px;
    right: 30px;
  }
}
.mobileOnly {
  display: none!important;
  .mobileIconMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      font-size: 18px;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: $lightText;
    }
    .fa  {
      font-size: 22px;
      color: $lightText;
      margin-left: 10px;
    };
  }
}

.show {
  display: block;
}