
header {
  background: url("../images/Untitled-2.jpg") center center no-repeat;
  background-size: cover;
  padding: 30px 30px 240px 30px;
  .primary {
    max-width: 916px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    ul {
      margin: 0;
      padding: 10px 30px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      li {
        list-style: none;
        display: inline-block;
        padding: 5px;
        overflow: hidden;
        text-transform: uppercase;
        font-size: 10px;
        a {
          font-weight: 600;
          letter-spacing: 2px;
          transition: all 0.4s ease;
          text-decoration: none;
          color: $darkText;
        }
      }
    }

  }
  .welcomeText {
    text-align: center;
    margin: 0 auto;
    h1 {
      font-size: 54px;
      font-weight: 400;
      text-transform: uppercase;
      margin: 0;
      padding: 160px 0 40px 0;
    }
    h2 {
      font-size: 20px;
      margin: 0 auto;
      padding-top: 46px;
      max-width: 490px;
      line-height: 26px;
      font-weight: 400;
    }
  }
}
.redDash {
  width: 56px;
  height: 2px;
  background-color: #c21734;
  margin: 0 auto;
}
.fa-bars {
  display: none!important;
  font-size: 28px;
}