@media (max-width: 1024px) {
  .fa-bars {
    display: block !important;
  }
  .primary {
    .navigation {
      display: none;
      opacity: 0;
    }
  }
}

header {
  padding-bottom: 122px;
  .welcomeText {
    h1 {
      padding-top: 108px;
    }
  }
}

#services {
  .service {
    padding: 44px 32px 74px 32px;
    .serviceImg img {
      height: 64px;
    }
    h4 {
      padding: 32px 0;
    }
    p {
      margin-top: 26px;
    }
  }
}

#jobs {
  .wrapper {
    padding: 0 10%;
    .frontendDev .callToAction {
      margin-top: 30px;
    }
  }
}

#frontendDev {
  .wrapper {
    .callToAction {
      margin-top: 30px;
    }
  }
}

#projectManager {
  .wrapper {
    .callToAction {
      margin-top: 30px;
    }
  }
}

#uxUiDesigner {
  .wrapper {
    .callToAction {
      margin-top: 30px;
    }
  }
}

@media (max-width: 768px) {
  #services {
    flex-wrap: wrap;
    .service {
      width: 100%;
    }
  }
  footer {
    .wrapper {
      .column {
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }
}

@media (max-width: 540px) {
  .callToAction {
    display: none !important;
  }
  #jobs {
    padding-bottom: 84px;
  }
  #frontendDev {
    background-color: #f7f5f2;
  }
  #frontendDev .wrapper div .buttons button {
    border: none;
    padding: 0 10px 0 0;
    color: $darkRed;
  }
  #projectManager .wrapper div .buttons button {
    border: none;
    padding: 0 10px 0 0;
    color: $darkRed;
  }
  #projectManager {
    background-color: #ffffff;
    .wrapper div p {
      color: $darkText;
    }
  }
  #uxUiDesigner .wrapper {
    background-color: #f7f5f2;
  }
  #uxUiDesigner, #projectManager, #frontendDev {
    padding: 40px 0 32px 0;
  }
  #uxUiDesigner .wrapper div .buttons button {
    border: none;
    padding: 0 10px 0 0;
    color: $darkRed;
  }
  #jobs .wrapper .frontendDev {
    margin-top: 46px;
    padding-top: 40px;
  }
  #about {
    padding: 40px 0 68px 0;
    .wrapper {
      h4 {
        padding: 40px 0 44px 0;
      }
      p:nth-of-type(2) {
        padding-top: 46px;
      }
    }
  }
  #social {
    padding: 73px 0 83px 0;
  }
  footer {
    padding-top: 90px;
    .wrapper {
      padding-bottom: 74px;
      p {
        order: 2;
      }
    }
    .copyrights {
      background-color: #222222;
      padding: 0;
      .wrapper {
        padding: 0;
        p {
          margin: 0;
          font-size: 11px;
          background-color: #1e1e1e;
          padding: 16px 33px 16px 33px;
          width: 100%;
        }
        div {
          width: 100%;
          padding: 0 33px 16px 33px;
          justify-content: space-between;
          p {
            background-color: #222222;
          }
          .icons {
            padding: 0;
            justify-content: flex-start;
          }
        }
      }
    }
  }
  #uxUiDesigner {
    padding: 0;
    .wrapper {
      padding: 40px 10% 32px 10%;
    }
    .loadMore {
      margin: 76px auto 76px auto;
      background-color: #ffffff;
      button {
        margin: 0 auto 0 auto;
      }
    }
  }
}