@media (max-width: 1024px) {
   header {
     padding-bottom: 122px;
     .welcomeText {
       h1 {
         padding-top: 108px;
       }
     }
     .fa-bars {
       display: block!important;
     }
     .primary {
       .navigation {
         display: none;
       }
     }

   }
  #services  {
    .service {
      padding: 44px 32px 74px 32px;

      .serviceImg img {
        height: 64px;
      }
      h4 {
        padding: 32px 0;
      }
      p {
        margin-top: 26px;
      }
    }
  }
  #jobs {
    .wrapper {
      max-width: 832px;
    }
  }
}